.profile .games th {
	background-color: #616161;
	color: white;
}

.profile .games th,
td {
	padding: 15px;
	text-align: center;
}

.profile .won {
	background-color: #2ecc71;
}

.profile .lost {
	background-color: #c0392b;
}

.profile .draw {
	background-color: #f1c40f;
}

.profile .clickable {
	color: lightblue;
	text-decoration: underline;
	cursor: pointer;
}

/* .profile .profile-pic {
	/* max-width: 800px;
	max-height: 800px; */
/* width: 200px; */
/* height: 200px; */
/* border-radius: 50%; */
/* outline: 3px solid black; */
/* } */

/* .profile .profileblock .avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	outline: 3px solid black;
	background-color: gray;
} */

.profile .profile-pic,
.profile .profileblock .avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	outline: 3px solid black;
	background-color: #ecf0f1;
	/* Light gray background */
}

.profile .background {
	background-image: url('./images/background.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	filter: brightness (0.7);
}

button {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 4px;
}

.last-online,
.friend-href,
.stats,
.games {
	margin-bottom: 20px;
}

.friend-href ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.friend-href li a {
	text-decoration: none;
	/* color: #333; */
	font-weight: bold;
}

.stats h3 {
	/* color: #333; */
	font-weight: bold;
}

.stats p {
	margin: 5px 0;
}

.games h1 {
	color: #333;
}